:root {
    --hud: #3bbaff;
    --hud-trans: #3bbaff99;
    --shadow: rgba(0,0,0,0.35);
    --bg: rgba(128,102,77,0.75);
}

*
{
    margin: 0;
    padding: 0;

    -webkit-touch-callout:none !important;
    -webkit-user-select:none !important;
    -khtml-user-select:none !important;
    -moz-user-select:none !important;
    -ms-user-select:none !important;
    user-select:none !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}

html,
body
{
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


p {
    margin: 10px;
}


.signal {
    position: absolute;
    top: 20px; left: 40px;
    width: auto;
    max-width: 400px;
    padding: 12px;
    text-align: left;
    cursor: default; 
    color: white;
    font-weight: 700;
    font-size: 18px;   
    transform: skewX(-20deg); 
    text-shadow: 0px 0px 12px var(--shadow);
    pointer-events: none;
}

#joyDiv {
    position: absolute;
    bottom: 20px; right: 20px;
    width:150px;height:150px;margin-bottom:20px;
}

#signal-percent {
    font-size: 24px;
}

.hud-info {
    position: absolute;
    bottom: 20px; left: 40px;
    width: auto;
    max-width: 400px;
    text-align: left;
    color: white;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;   
    pointer-events: none;
}

.hud-info .title {
    padding: 12px;
    border-left: 2px solid white;
    background: var(--bg);
    font-size: 36px; 
    font-weight: 700;
    text-transform: uppercase;
    transform: skewX(-10deg) scaleY(0); 
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.hud-info .title h2 {
    transform: skewX(10deg); 
    margin: 0;
    text-shadow: 0px 0px 12px var(--hud-trans);
}

.hud-skills {
    font-weight: 700;
}


.hud-info .hud-body {
    padding: 12px;
    border-left: 2px solid white;
    background: var(--bg);
    transform: translateX(-200%);
}






.hud-video {
    position: absolute;
    top: 20px; right: 40px;
    width: 40vw;
    height: 0;
    padding-bottom: 23vw;
    border-right: 3px solid white;
    border-left: 3px solid white;
    text-align: left;
    cursor: default;
    transform: scaleX(0);
}

.hud-video video {
    position: absolute;
    top: 0; left: 0; height: 100%;
    width: 100%;
}

.instructions {
    position: fixed;
    bottom: 0; left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
    color: white;
    pointer-events: none;
}

.loading {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.loading-status {
    position: relative;
    width: auto;
    max-width: 400px;
    padding: 12px;
    text-align: left;
    cursor: default;
    background: var(--bg);
    color: white;
    font-weight: 700;
    font-size: 18px;   
    transform: skewX(-20deg); 
    text-shadow: 0px 0px 12px var(--shadow);
}

#noise.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    /* mix-blend-mode: difference; */
}

#noise.active .noise-text {
    font-size: 3rem;
    color: #ffffff55;
    animation: flash 2s infinite;
    pointer-events: none;
}

#noise.active:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url(../static/noise.png);
    pointer-events: none;
    display: block;
    opacity: 1;
    -webkit-animation: grain 2s steps(10) infinite;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
}

@media (max-width: 600px){
    .signal {
        display: none;
    }

    .hud-video {
        position: absolute;
        top: 20px; right: 20px;
        width: 90vw;
        height: 0;
        padding-bottom: 50vw;
        border-right: 3px solid white;
        border-left: 3px solid white;
        text-align: left;
        cursor: default;
        transform: scaleX(0);
    }

    

    .hud-info {
        bottom: 20px;
        left: 0;
        width: 65vw;
    }

    .hud-info .title {
        font-size: 18px;
    }

    .hud-info .hud-body {
        font-size: 12px;
    }

    #joyDiv {
        position: absolute;
        bottom: 10px; right: 10px;
        width:100px;height:100px;
    }
}

@keyframes flash{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}@keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}

